IOStreams/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="www.bookshop.ua" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Books">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:unsignedShort" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Author" type="xs:string" />
              <xs:element name="Price" type="xs:decimal" />
              <xs:element name="Genre" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="Available" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>